<aside class="col-lg-3 pe-lg-4 pe-xl-5 mt-n3">
    <div class="position-lg-sticky top-0">
        <div class="d-none d-lg-block" style="padding-top: 105px;"></div>
        <div class="offcanvas-lg offcanvas-start" id="sidebarAccount">
            <button class="btn-close position-absolute top-0 end-0 mt-3 me-3 d-lg-none" type="button" data-bs-dismiss="offcanvas" data-bs-target="#sidebarAccount"></button>
            <div class="offcanvas-body">
                <div class="pb-2 pb-lg-0 mb-4 mb-lg-5">
                    @{
                        var avtrimg = Context.Session.GetString("avatar").ToString() + ".png";
                    }
                     <img id="avatar_container" class="d-block rounded-circle mb-2" src="/assets/images/avatars/default/@avtrimg" width="80" alt="full name">
                    <h3 class="h5 mb-1" id="name_container">@Context.Session.GetString("fullname").ToString()</h3>
                    <p class="fs-sm text-muted mb-0">@@@Context.Session.GetString("username").ToString() </p>
                </div>
                <nav class="nav flex-column pb-2 pb-lg-2">
                    <h4 class="fs-xs fw-medium text-muted text-uppercase pb-1 mb-0">Account</h4>
                    <a class="nav-link fw-semibold py-2 px-0 @( ViewData["ActivePage"].ToString() == "overview" ? "active" : "")" href="/account"><i class="ai-user-check fs-5 opacity-60 me-2"></i>Overview</a>
                    <a class="nav-link fw-semibold py-2 px-0 @(ViewData["ActivePage"].ToString() == "profile" ? "active" : "")" href="/account/profile"><i class="ai-settings fs-5 opacity-60 me-2"></i>Profile</a>
                    <a class="nav-link fw-semibold py-2 px-0 @(ViewData["ActivePage"].ToString() == "personalize" ? "active" : "")" href="/account/personalize"><i class="ai-paint-roll fs-5 opacity-60 me-2"></i>Personalize</a>
                    <a class="nav-link fw-semibold py-2 px-0 @(ViewData["ActivePage"].ToString() == "security" ? "active" : "")" href="/account/security"><i class="ai-lock-closed fs-5 opacity-60 me-2"></i>Security</a>
                    <a class="nav-link fw-semibold py-2 px-0 disabled" href="account-earnings.html"><i class="ai-activity fs-5 opacity-60 me-2"></i>Activities</a>
                    
                </nav>
                <nav class="nav flex-column"><a class="nav-link fw-semibold py-2 px-0" href="/account/logout"><i class="ai-logout fs-5 opacity-60 me-2"></i>Sign out</a></nav>
            </div>
        </div>
    </div>
</aside>